
<h1>Transacciones</h1>
<a href="/cuentaTransaccion/create?cuentaId=@ViewBag.CuentaId">Nueva Transaccion</a>
<table class="table">
    <thead>
    <tr>
        <td>Fecha</td>
        <td>Tipo</td>
        <td>Monto</td>
        <td>Nota</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Fecha</td>
            <td>@item.Tipo</td>
            <td>@item.Monto</td>
            <td>@item.Nota</td>
        </tr>
    }
    </tbody>
    
    <h1>Total: @ViewBag.Total</h1>
    
</table>